@{
	Layout = null;
	var account = this.ViewBag.Account as Microsoft.Identity.Client.IAccount;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>DotNET Core @this.ViewBag.Version</title>
</head>
<body>
	<form>
		<button type="submit" name="a" formmethod="post" formaction="@Url.Action("Signout")">Clear cookies</button>
	</form>
	<h2>Claims</h2>
	<dl>
		@foreach (var claim in this.User.Claims)
		{
			<dt><strong>@claim.Type</strong></dt>
			<dd>@claim.Value</dd>
		}
	</dl>

	<h2>Account</h2>
	@if (account != null)
	{
		<dl>
			<dt><strong>Account Username</strong></dt>
			<dd>@account.Username</dd>
			<dt><strong>Account Environment</strong></dt>
			<dd>@account.Environment</dd>
			<dt><strong>Account AccountId</strong></dt>
			<dd>@account.HomeAccountId</dd>
		</dl>
	}
</body>
</html>
